[submodule "lib/ptavo"]
	path = lib/ptavo
	url = https://github.com/hypnotizedent/ptavo.git
[submodule "services/n8n-workflows"]
	path = services/n8n-workflows
	url = https://github.com/Zie619/n8n-workflows.git
